<!DOCTYPE html>
<html>
  <head>
    <title>
      SDSS Careers
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 
  <style>
    #banner{
      width:100%;
      height: 360px;
      object-fit: cover;
    }
  </style>
  
  </head>
  <body>
    <div class ="container">
    <h1 class="text-center mt-2 mb-4">
      SDSS Careers
    </h1 >
    <img class="img-fluid" id= "banner" src =" https://1e317243-c1cb-45cc-8323-8275308cf10a-00-3j9xknbu8chtq.sisko.replit.dev/static/banner.jpg" height=320
    >
    <h2 class="text-center mt-2 mb-4">
      About SDSS Careers
    </h2>
    <p class="lead">
      The SDSS Lab (Sustainable Development Solutions & Strategies Lab) is dedicated to advancing global sustainability through data-driven research and innovative solutions. Our lab focuses on analyzing and interpreting data related to the United Nations' Sustainable Development Goals (SDGs), providing insights and strategies to support policymakers, organizations, and communities in their efforts to achieve these goals.
    </p>
    <h2 class="text-center">
      Open Positions
    </h2>
    <div>
        {%for job in jobs%}
          {% include 'jobitem.html'%}
    {% endfor %}
    </div>
    <div style="text-align:center; "> 
      
      <button class="btn btn-primary btn-lg"> Contact Us
      </button>
      
      <p class= "mt-4"> copyright 2024, SDSS Careers </p>
    </div>
      </div>
  </body>
  
</html>